.App {
    text-align: center;
  }
  
  .footer{
    text-align: center;
    background-color: #282c34;
    color: white;
    padding-bottom: 30px;
    
  }
  .add-employe{
    border-radius: 5px solid black;
  }
  .add-employe:focus{
    background-color: yellowgreen;
    color: white;
  }
  .add-employe:hover{
    cursor: pointer;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
  }
  
  .button-detail{
    display: flex;
    justify-content: space-between;
    
      p {
        margin-right: 30px;
      }
  }
  
  .det{
    visibility: hidden;
  }
  
  .display{
    visibility: visible;
  }
  
  .listperson {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }
    .listperson button:focus{
      color:yellowgreen;
    }

    .listperson button:hover{
      cursor: pointer;
    }

    button {
        border: 2px solid;
        padding: 10px;
        border-radius: 15px;
    }
  
  
  
  